body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,h2,h3,p {
    margin: 0;
}
img {
    display: block;
}
ul {
    margin: 0;
        padding-left: 0;
    list-style-type: none;  
}
a {
    text-decoration: none;
}


/* Header */
.header-main {
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
        background: var(--WHITE, #FFF);
}


.container-header {
    width: 1158px;
    margin: 0;
    padding: 0 15px;
    display: flex;
    margin: 0;
}
.main-navigation{
display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    margin-right: 76px;
 
}

.logo-text {
    color: #2e2f42;
  
}

.nav-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;

}

.page-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
   

}

.page-link:hover,
.page-link:focus {
    color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-block {
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1,5;
    letter-spacing: 0.02em;
    
}
.address-block-list {
    display: flex;
    gap: 40px;
}



/* Hero section */


.section-button {
    background-color: #2e2f42;
}

.main-heading {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.main-button {
    font-family: "Roboto", sans-serif;
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/* Section-Benefits 2 */
.visually-hidden {
    position: absolute;
        width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
        overflow: hidden;

}

.benefits-heading {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.benefits-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section-Team 3 */

.section-team {
    background-color: #F4F4FD;
    text-align: center;

}

.section-team-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-member {
    background-color: #FFFFFF;
    align-items: center;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Section-Portfolio 4 */
.section-portfolio {
    background-color: #F4F4FD;
    text-align: center;

}

.section-portfolio-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

    color: #2e2f42;
}

.portfolio-item {
    align-items: flex-start;
    background: var(--WHITE, #FFF);
}

.portfolio-item-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-item-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  
}

/* Footer */

.footer-block {
    background-color: #2e2f42;
    text-align: center;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-span {
    color: #F4F4FD;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}